html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4747;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 40px 30px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.buttons .btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, transform 0.1s;
    transition: 0.2s;
}

.buttons .btn:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

.buttons .btn:not(:disabled):hover {
    background-color: #002750;
    border-radius: 20px;
}

.buttons .btn:not(:disabled):active {
    transform: scale(0.95);
}

@keyframes buttonAppear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.buttons .btn {
    animation: buttonAppear 0.5s ease-in-out;
}

#laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    text-align: left;
}

#laps li {
    background: #eee;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}

.action-text {
    position: absolute;
    top: -40px;
    font-size: 35px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 100%;
    animation: fadeInOut 0.5s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
